# Blueskyのアカウント情報
ACCOUNT=Blueskyのアカウント名あるいはメールアドレス
PASSWORD=Blueskyのアプリパスワード
# 取得対象のフィード。デフォルトはFor you
FEED_URI=at://did:plc:3guzzweuqraryl3rdkimjamk/app.bsky.feed.generator/for-you
# sqlite3のデータベースファイル名
DB='bsky_feed.db'
# ログファイル名
LOGFILE = 'bsky_feed.log'
# 画像の保存先ディレクトリ。ORIGINALはBlueskyからダウンロードした画像、PROCESSEDはグレースケール処理した画像
# /app は Docker で実行する場合のワーキングディレクトリ
ORIGINAL_IMAGE_PATH = '/app/images/original'
PROCESSED_IMAGE_PATH = '/app/images/monochrome'
# グレースケール処理する際の画像のサイズ。Kindle4は600x800なのでこの大きさ
IMAGE_WIDTH=600
IMAGE_HEIGHT=730
